.world{
    color: gray;
}
.about-container{
    background-color: black;
    padding: 25px;
    
}
.jon{
    color: rgb(248, 238, 246);
    font-weight: 900;

}
.REACT{
    color: rgb(245, 24, 190);

    font-weight: 900;
}